# misc
.DS_Store
geckodriver.log
/persistent-folder
/secrets
/data-collector/docker-shell.sh
/database-server
/deployment


# Neede because locally used specific macos versions of tf
/api-service/.env
/api-service/Pipfile.lock